In [23]:
from PIL import Image
import pandas as pd

In [9]:
from pathlib import Path
PATH = Path().parent
ASSETS = PATH / "assets"
DOCS = ASSETS / "word"
TTD = ASSETS / "ttd"

In [4]:
import os
from glob import glob

In [21]:
def find_filename(name):
    try:
        name = glob(f'{TTD}/{name}.*')
        print(name)
        return name[0]
    except:
        return ValueError
    
def get_image(location):
    print(location)
    image = Image.open(os.path.join(location))
    return image

In [24]:
df = pd.read_excel('list-pegawai.xlsx', index_col=0)

In [25]:
df

,Nama,Nama File,NIP
0,Ni Wayan Dertiari,Ni Wayan Dertiari,'196912241990032001
1,"Tirtha Wijaya, SP",Tirtha Wijaya,'197312051995031001
2,"Ni Wayan Budhi Anggraeni, ST.",Ni Wayan Budhi Anggraeni,'197804042008012032
3,"Ni Putu Lia Cahyani, SP",Ni Putu Lia Cahyani,'198503012007012003
4,"I Wayan Wirata, S.Tr",I Wayan Wirata,'199111062013121001
5,"Kadek Setiya Wati, S.Tr",Kadek Setiya Wati,'198906032010122002
6,"Luh Eka Arisanti, S.Si",Luh Eka Arisanti,'198909272010122001
7,"Diana Hikmah, S.Tr",Diana Hikmah,'199202132012102001
8,"Putu Agus Dedy Permana, S. Tr",Putu Agus Dedy Permana,'199308092013121001
9,I Wayan Gita Giriharta,I Wayan Gita Giriharta,'199604012016011001
10,I Gede Agus Mahendra,I Gede Agus Mahendra,'199304282013121001
11,"I Gusti Ayu Putu Putri Astiduari, S.Tr",I Gusti Ayu Putu Putri Astiduari,'199308182013121001
12,"Wulan Wandarana, S.Tr",Wulan Wandarana,'199505142014112001
13,Brian Eko Permadi,Brian Eko Permadi,'199209232012101001
14,"I Made Sudarmayadnya, S.Si",I Made Sudarmayadnya,'198103222007011013
15,"Kd. Diana Anggariati, SP",Kd. Diana Anggariati,'196705231990032002
16,A. A. Putu Eka Putra Wirawan,A. A. Putu Eka Putra Wirawan,'198212232006041002

In [34]:
df.sort_values(by=['Nama'], ascending=True, inplace=True)

In [38]:
try:
    name = df.iloc[0]['Nama'].split(',')[0]
except:
    name = df.iloc[0]['Nama']

In [39]:
ttd_image = get_image(find_filename(name))

['assets\\ttd\\A. A. Putu Eka Putra Wirawan.jpg']
assets\ttd\A. A. Putu Eka Putra Wirawan.jpg